button {
    font-family: 'Times New Roman';
    color: red;
    background-color: black;
    display: flex;
    padding: 5px;
    position: sticky;
    top: 50px;
    float: right;
  }
  
  button:hover {
    color: white;
    background-color: purple;
  }
  
  #slideshow {
    display: flex;
    justify-content: center;
  }